.content-container {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  height: 100%;

  .content-content {
    font-size: 18px;
  }

  .content-code {
    background-color: rgb(63, 61, 61);
    color: black;
    direction: ltr;
    text-align: left;
    padding: 10px;

    .code-line {
      line-height: 10px;
      .code-line-number {
        padding-right: 5px;
        width: 30px;
        color: #231d1d;
        direction: ltr;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman" !important;
      }
    }
  }
}
