@import "styles/variables.scss";

body {
  direction: $dir;
  font-size: 18px;
  font-weight: 600;
  background-color: $bkColor1 !important;
  color: $fontColor1 !important;
  //background-color: black !important;
  //color: $fontColor3 !important;
}

div {
  background-color: transparent;
}
p {
  line-height: 25px;
}

.App {
  height: 95%;
  overflow: hidden;
  height: max-content;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  width: 100%;
  height: $headerHeight;
  font-size: 18px;
  font-weight: 600;
  background-color: $menuBkColor;
  border-bottom: 1px dashed white;
  direction: $dir;

  .user-bar {
    position: absolute;
    z-index: 1001;
    top: 12px;
    left: 30px;
    width: 25%;
    padding-left: 20px;
    span,
    a {
      padding: 5px;
      color: #e9ecef;
    }
  }
}

.App-footer {
  border-top: 1px gray dashed;
  height: $footerHeight;
  margin-top: 2px;
  position: relative;
  background-color: $menuBkColor;
  // background-color: rgb(139, 138, 135);

  .copy-right {
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
  }
}

.App-title1 {
  font-size: 2em;
  text-align: center;
  font-weight: 600;
}

.app-navbar-right1 .nav-item {
  float: right;
}
.app-menubar {
  direction: $dir;
  .navbar {
    z-index: 1000;

    .dropdown-menu {
      background-color: $menuBkColor;
      direction: $dir;
      text-align: center;
    }
    .navbar-nav {
      background-color: $menuBkColor;
      direction: $dir;
      text-align: center;
      .nav-item {
        background-color: $menuBkColor;
      }
    }
  }

  .active-page {
    color: white;
    // border-bottom: 1px solid white;
    // border-radius: 25px;
  }
}

.App .App-Is-Offline {
  display: block;
  background-color: red;
  position: fixed;
  bottom: 10px;
  height: 35px;
  width: 100%;
  z-index: 1000;
  padding: 5px;
}

.App .App-Is-Online {
  display: none;
}
/*
@media only screen and (min-width: 450px) {
  .App-header {
    background-image: url("logo_tr.png");
    height: 250px;
  }
  .App-title {
    font-size: 3.5em;
    padding-top: 40px;
  }
}
*/
.App-intro1 {
  font-size: 18px;
}

.img-not-found {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pages-container {
  // background-color: $mainBackgroundColor;
  height: max-content;
  width: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.home-container {
  justify-content: center;
  height: max-content;
  width: 100%;
}

.time-container {
  float: right;
  padding-right: 25px;
}

.app-time {
  float: right;
  width: 100%;
}

// .loading {
//   width: 100%;
//   height: 100%;
//   min-height: 50px;
//   z-index: 1000;
//   position: absolute;
//   left: 0px;
//   top: 0px;
//   background-color: rgba(131, 157, 213, 0.33);
//   background-image: url("/Images/Loading.svg");
//   background-position: center;
//   background-repeat: no-repeat;
// }

.img-loading ,
.loading {
  width: 100%;
  height: 100%;
  min-height: 50px;
  z-index: 1000;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(195, 213, 131, 0);
  background-image: url("/Images/ImgLoading.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.brands-container {
  text-align: center;
  padding: 50px;
  float: left;
  width: 100%;
  background-color: #e9ecef !important;
  img {
    margin: 20px;
    height: 50px;
  }
  .brand-item {
    width: 20%;
    height: 50px;
    padding: 10px;
    float: left;
    span {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  .brands-container {
    text-align: center;
    padding: 20px;
    img {
      margin: 10px;
      height: 38px;
    }
  }
}
